In [1]:
# Create a list of scores

scores = [45, 67, 89, 34, 89, 76]

# Remove duplicates using set, then sort in descending order

unique_scores = list(set(scores))
unique_scores.sort(reverse=True)

# The second highest (runner-up) score

runner_up = unique_scores[1]
print("Runner-up score is:", runner_up)

Runner-up score is: 76

In [5]:
D = {
    'John': [25, 32, 43],
    'Peter': [87, 55, 96],
    'Ram': [58, 55, 43],
    'Meena': [63, 79, 85]
}

name = input("Enter a name: ")

if name in D:
    D[name] = [88, 77, 99]
    print("Updated dictionary:", D)
else:
    print("Name not found.")

Enter a name: Ram
Updated dictionary: {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [63, 79, 85]}

In [6]:
#Ticket Price Calculator:

age = int(input("Enter your age: "))
gender = input("Enter your gender (male/female): ").lower()

# Determine base ticket price
if age < 5:
    price = 0
elif 5 <= age <= 12:
    price = 10
elif age > 60:
    price = 0
else:
    price = 50

# Apply 50% discount for females
if gender == "female":
    price *= 0.5

print("Ticket price: Rs.", price)

Enter your age: 18
Enter your gender (male/female): male
Ticket price: Rs. 50