In [1]:
# 1. Program to find sum of all elements in a list of integers

numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
print("1) Sum of all elements:", total)

1) Sum of all elements: 150

In [2]:
# 2. Input a sentence as a string

sentence = input("\n2) Enter a sentence: ")

# (a) Print its length

print("Length of the string:", len(sentence))

# (b) Print the first half of string

half_length = len(sentence) // 2
print("First half of string:", sentence[:half_length])

2) Enter a sentence: RAJALEKSHMI
Length of the string: 11
First half of string: RAJAL

In [4]:
# 3. Tuple modification

t1 = (78, 45, 32, 19, 82, 77, 40, 39)
print("\n3) Original tuple:", tupleA)

# Tuples are immutable, so convert to list → modify → convert back

temp_list = list(t1)
temp_list[2] = 100
t1 = tuple(temp_list)

print("Modified tuple:", t1)

3) Original tuple: (78, 45, 100, 19, 82, 77, 40, 39)
Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

In [11]:
# 4. List operations


l1 = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
print("\n4) Original list:", l1)

4) Original list: [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [13]:
# (a) Delete the first occurrence of 32
l1 = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
l1.remove(32)
print(" Original list:", l1)

 Original list: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [14]:
# (b) Delete all occurrences of 40

l1 = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
l1 = [x for x in l1 if x != 40]

# (c) Delete the value at index=5
del l1[5]

# (d) Modify the value at index=9 as 300
l1[9] = 300

# (e) Add 200 at index=2
l1.insert(2, 200)

# (f) Print the final list with length, max value, and sum
print("Final list:", l1)
print("Length:", len(l1))
print("Maximum value:", max(l1))
print("Sum of all elements:", sum(l1))

Final list: [19, 32, 200, 10, 55, 31, 94, 29, 10, 65, 300]
Length: 11
Maximum value: 300
Sum of all elements: 845

In [16]:
# 5. String operations

string = "The day has been long"
print("\n5) Original string:", string)

# (a) Delete the value at index=4 (i.e., remove 5th character)

string = string[:4] + string[5:]
print("After deleting index 4:", string)

# (b) Print the string 4 times in a single line with space between each repetition

print("Repeated 4 times in one line:", (string + " ") * 4)

# (c) Print the string 3 times in new lines each time

print("Repeated 3 times in new lines:\n" + (string + "\n") * 3)

# (d) Modify the string at index=7 as 'A'
string = string[:7] + 'A' + string[8:]

print("After modifying index 7 to 'A':", string)

# (e) Print the string from index 4 to 15

print("Substring (4 to 15):", string[4:16])

# (f) Print the final string with its length

print("Final string:", string)
print("Length of final string:", len(string))

5) Original string: The day has been long
After deleting index 4: The ay has been long
Repeated 4 times in one line: The ay has been long The ay has been long The ay has been long The ay has been long
Repeated 3 times in new lines:
The ay has been long
The ay has been long
The ay has been long

After modifying index 7 to 'A': The ay Aas been long
Substring (4 to 15): ay Aas been
Final string: The ay Aas been long
Length of final string: 20